body{
	padding-top: 50px;
}

.board{
	display: flex;
	flex-direction: row;
	flex-wrap : wrap;
	width: 330px;
	float: none;
	margin: auto;
}

.spot{
	height: 100px;
	width: 33%;
	border: 1px solid #000;

}

#winner{
	text-align: center;
}

.img-round{
	border-radius: 50%;
}

button{
	display: block;
	float: none;
	margin: auto;
}